input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(123, 228, 241);
    border-top: #e5f5f800;
    border-radius: 10px;
}

body {
    background-color: rgb(255, 255, 255);
    animation: changecolor;
}

button {
    margin: auto;
    width: 100%;
    padding: 10px;
    border: 60px 10px;
    border-top: -10px;
    border-radius: 10px;
}

@keyframes changecolor {
    from {
        background-color: blue;
    }
    to {
        background-color: aqua;
    }
}

form {
    background-color: #e5f5f8;
    border-radius: 10px;
    font-family: Avenir;
    padding: 20px;
    width: 100%;
}

#form-prompt {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 5px;
}

.button:hover {
    background: #06D85F;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }
    .popup {
        width: 70%;
    }
}